.contact{
    height: 100%;
    background: url("../dist//img/photo2.avif");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2{
        font-size: 2rem;
        color: $secondary-color;
    }

    &__list{
        // border: 5px solid yellow;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
        .text-secondary{
            margin: 0.5rem;
        } 
    }

    &__email, &__phone, &__address{
        // border: 1px solid yellow;
        padding: 1rem;
    }


}